PORT=5000
NODE_ENV=development
DATABASE_URL="mongodb://localhost:27017/mediflow?directConnection=true"
JWT_SECRET="CHANGE_THIS_TO_A_RANDOM_64_CHAR_STRING_AT_LEAST_32_CHARS_LONG"
JWT_EXPIRES_IN="7d"
FRONTEND_URL="http://localhost:3000"
BCRYPT_SALT_ROUNDS=10
COOKIE_SECRET="CHANGE_THIS_TO_A_DIFFERENT_RANDOM_64_CHAR_STRING_AT_LEAST_32"
